.footer
  .footer__contents
    %ul.footer-text
      %li プライバシーポリシー
      %li メルカリ利用規約
      %li 特定商取引に関する表記
    .footer-icon
      = image_tag "merukari-logo-gray.png", size: '80x65', class: 'merukari-logo-gray'
    %p
      %small © 2019 Mercari