%head
  %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/

.sign-up
  = render 'header-signup'
  .sign-in
    .sign-in-menu
      .menu-title
        新規会員登録
      .btn-menu
        %input{ onclick: "location.href='./sign_up/registration'", type: "button", value: "メールアドレスで登録する", class: "sign-in__btn sign-in__btn--mail"}/
        %i.material-icons.white mail_outline
        =link_to "https://www.facebook.com/", class: "sign-in__btn sign-in__btn--facebook" do
          = fa_icon 'facebook-square', class: "facebook-icon"
          Facebookで登録する
        =link_to "https://www.google.com/", class: "sign-in__btn sign-in__btn--google" do
          = image_tag "google-icon.png", size:'50x50', class: "google-icon"
          Googleで登録する
  = render 'footer-signup'

