%head
  %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/

.sign-up
  = render 'header-signup'
  .sign-in
    .sign-in-menu
      .menu-title
        新規会員登録
      .btn-menu
        =link_to "https://www.mercari.com/users/sign_up/resistoration/", class: "sign-in__btn sign-in__btn--mail" do
          %i.material-icons mail_outline
          メールアドレスで登録する
        =link_to "https://www.facebook.com/", class: "sign-in__btn sign-in__btn--facebook" do
          = fa_icon 'facebook-square', class: "facebook-icon"
          Facebookで登録する
        =link_to "https://www.google.com/", class: "sign-in__btn sign-in__btn--google" do
          = image_tag "google-icon.png", size:'50x50', class: "google-icon"
          Googleで登録する
  = render 'footer-signup'

