.wrapper-logout{
  background-color: #f5f5f5;
  .pankuzu-logout{
    display: block;
    position: relative;
    height: 48px;
    width: 100%;
    background-color: white;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    .breadcrumbs{
      height: 48px;
      width: 1020px;
      margin: 0 auto;
      line-height: 44px;
      font-size: 14px;
      a{
        color: black;
        text-decoration: none;
      }
      .current{
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .main-container-logout{
    height: 1292px;
    width: 1020px;
    margin: 40px auto 0;
    &__right{
      width: 700px;
      height: 179px;
      background-color: #fff;
      float: right;
      &__logout{
        background: #ea352d;
        border: 1px solid #ea352d;
        height: 50px;
        max-width: 320px;
        margin: 50px auto;
        color: #fff;
        width: 100%;
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        transition: all ease-out .3s;
        line-height: 48px;
      a{
        color: white;
        text-decoration: none;
      }
      }
    }
  }
}



