.wrapper_sell_item_shimo {
  background-color: #f5f5f5;
  .sell_item_container {
    .previews {
      display: flex;
      .aaa{
        height: 162px;
        width: 116px;
        // display: flex;
        float: left;
        z-index: 10;
        margin: 0 0 3px 3px;
        .bbb{
          height: 116px;
          width: 120px;
          
        }
          .ccc{
            font-size: 14px;
            color: cornflowerblue;
            a{
              // display: inline-block;
              width: 50%;
              float: left;
              background: #f5f5f5;
              line-height: 44px;
              text-align: center;
              border-style: 1px solid #bbb;
            }
        }
      }
    }
    .sell__container {
      width: 700px;
      margin: 0 auto;
      background: #fff;
      font-size: 14px;
      color: #333;
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
      line-height: 1;
      &__header {
        padding: 32px 16px;
        font-size: 22px;
        line-height: 1.5;
        text-align: center;
        font-weight: bold;
      }
      &__form {
        border-top: 1px solid #eee;
        &__upload {
          padding: 40px;
          &__header {
            font-size: 16px;
            font-weight: bold;
          }
          &__message {
            margin-top: 8px;
            line-height: 1.5;
          }
          &__dropbox {
            margin: 16px auto 0;
            &__have {
              margin-left: 0;
              position: relative;
              min-height: 162px;
              background: #f5f5f5;
              border: 1px dashed #ccc;
              font-size: 0;
              text-align: center;
              cursor: pointer;
              .previews{
                display: inline;
                .item-image{
                  display: inline-block;
                  // float: left;
                  z-index: 10;
                }
              }
              &__image-up{
                font-size: 24px;
                &__box-size{
                  color: black;
                  width: 620px;
                  height: 164px;
                  z-index: 10;
                  cursor: pointer;
                }
              }
              .hidden{
                display: none;
                // height: 300px;
                // width: 500px;
              }
              &__message {
                position: absolute;
                top: 50%;
                left: 16px;
                right: 16px;
                text-align: center;
                font-size: 14px;
                line-height: 1.5;
                transform: translate(0, -50%);
                cursor: pointer;
              }
            }
          }
        }
        &__contents {
          padding: 40px;
          border-top: 1px solid #eee;
          &__area1 {
            &__input {
              width: 100%;
              margin-top: 8px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
              box-sizing:border-box;
            }
          }
          &__area2 {
            margin-top: 40px;
            &__description {
              margin-top: 8px;
              display: block;
              width: 100%;
              max-width: 100%;
              min-height: 142px;
              padding: 10px;
              border: 1px solid #ccc;
              background: #fff;
              font-size: 16px;
              line-height: 1.5;
              resize: vertical;
              box-sizing:border-box;
            }
          }
        }
        &__header {
          float: left;
          color: #888;
          font-size: 14px;
          font-weight: bold;
        }
        &__box {
          float: right;
          width: 400px;
          .choose__wrap {
            margin-top: 8px;
            font-size: 16px;
            position: relative;
            background: #fff;
          }
          .icon-down {
            position: absolute;
            right: 16px;
            top: 25%;
            z-index: 2;
            color: #888;
            font-size: 25px;
          }
          .choose__cell, .select-default, #item_condition, #item_shipment_date {
            width: 100%;
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-size: 16px;
            line-height: 1.5;
            cursor: pointer;
            -webkit-appearance: none;
            display: block;
          }
          &__group2 {
            margin: 0;
            margin-top: 40px;
            .choose__cell-input {
              margin: 8px 0 0;
              font-size: 16px;
              font-weight: 100;
              position: relative;
              .prefecture-icon {
                position: absolute;
                top: 14px;
                right: 16px;
                z-index: 2;
                color: #888;
                font-size: 25px;
              }
              select {
                box-sizing: border-box;
                width: 100%;
                height: 50px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                cursor: pointer;
                -webkit-appearance: none;
                -moz-appearance: none;
              }
            }
          }
          .price__area {
            list-style: none;
            .sell__price {
              padding: 0 0 24px;
              border: 0;
              margin: 0;
              .price__form {
                margin: 0;
                padding: 0;
                &--left {
                  width: 50%;
                  line-height: 48px;
                  font-weight: 600;
                  float: left;
                }
                &--right {
                  font-size: 12px;
                  .input__price {
                    height: 30px;
                    width: 128px;
                    text-align: right;
                    padding: 10px 16px 8px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    background: #fff;
                    line-height: 1.5;
                    font-size: 14px;
                    touch-action: manipulation;
                  }
                  input[type=number]::-webkit-inner-spin-button,
                  input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                  }
                }
              }
            }
            .fee {
              padding: 24px 0;
              border-top: 1px solid #ccc;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .sell__fee {
                float: left;
              }
            }
            .profit {
              padding: 24px 0;
              border-top: 1px solid #ccc;
              font-weight: 600;
              .sell__profit {
                font-size: 16px;
                float: left;
              }
              .sell__profit-right {
                font-size: 30px;
                float: right;
              }
            }
          }
        }
        &__button {
          height: 329px;
          padding: 40px;
          border-top: 1px solid #eee;
          .msg {
            line-height: 1.5;
            .blank {
              color: #0099e8;
            }
          }
          &__exhibit-btn {
            margin-top: 40px;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            cursor: pointer;
            text-align: center;
          }
          &__return-btn {
            width: 45%;
            margin: 24px auto 0;
            background: #aaa;
            border: 1px solid #aaa;
            color: #fff;
            display: block;
            line-height: 48px;
            font-size: 14px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.item__label {
  font-weight: 600;
}
.required {
  background: #ea352d;
  margin-left: 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
.optional {
  background: #ccc;
  margin-left: 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
.question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}
.error-msg {
  display: inline;
  color: red;
  font-size: 12px;
  text-align: left;
}