.sell-btn{
  a{
    text-decoration: none;
  }
  cursor: pointer;
  bottom: 32px;
  font-size: 22px;
  height: 160px;
  right: 32px;
  width: 160px;
  position: fixed;
  text-align: center;
  background-color: rgb(234, 53, 45);
  border-radius: 50%;
  &__box{
    padding-top: 30px;
    color: white;
    &__name{
      color: white;
    }
    &__camera{
      font-size: 55px;
    }
  }
}