.banner
  .banner__container
    .banner__container--left
      .first_title
        スマホでかんたんフリマアプリ
      .second_title
        今すぐ無料ダウンロード！
      .icons
        .merucai_icon
          = image_tag '', size:'68x68', class: 'merucari_icon'
        .app_tag
          = image_tag '', size:'144x40', class: 'app_tag'
        .google_tag
          = image_tag '', size:'144x40', class: 'google_tag'
    .banner__container--right