.banner__container
  .banner__container--left
    .first_title
      スマホでかんたんフリマアプリ
    .second_title
      今すぐ無料ダウンロード！
    .icons
      .mercai_icon
        = image_tag 'mercari_squar.png', size:'68x68', class: 'mercari_icon'
      .app
        = image_tag 'apple.png', size:'144x40', class: 'app'
      .google
        = image_tag 'google.png', size:'144x40', class: 'google'
  .banner__container--right
    .image
      = image_tag "banner_free.png", size:'300x260', class: 'image'