%ul.parent-wrap
  %li.parent
    %span レディース
  %ul.child-wrap
    %li.child
      %span トップス1
    %li.child
      %span ジャケット/アウター１
    %li.child
      %span ジャケット/アウター１１
    %li.child
      %span ジャケット/アウター１１１
    %li.child
      %span ジャケット/アウター
    %li.child
      %span ジャケット/アウター
    %ul.grand-child-wrap
      %li.grand-child
        %span トップスの孫
      %li.grand-child
        %span ジャケット/アウター
      %li.grand-child
        %span ジャケット/アウター
      %li.grand-child
        %span ジャケット/アウター
      %li.grand-child
        %span ジャケット/アウター
      %li.grand-child
        %span ジャケット/アウター
  %li.parent
    %span メンズ
  %ul.child-wrap
    %li.child
      %span トップス2
    %li.child
      %span ジャケット/アウター2
    %li.child
      %span ジャケット/アウター22
    %li.child
      %span ジャケット/アウター222
    %li.child
      %span ジャケット/アウター2222
    %li.child
      %span ジャケット/アウター
    %ul.grand-child-wrap
      %li.grand-child
        %span トップスの孫
      %li.grand-child
        %span ジャケット/アウター
      %li.grand-child
        %span ジャケット/アウター
      %li.grand-child
        %span ジャケット/アウター
      %li.grand-child
        %span ジャケット/アウター
      %li.grand-child
        %span ジャケット/アウター