.footer__container
  .footer__container__contents
    .top_area
      %h2.style_headline
        メルカリについて
      %ul.content
        %li.list
          会社概要（運営会社）
        %li.list
          採用情報
        %li.list
          プレスリリース
        %li.list
          公式ブログ
        %li.list
          メルカリロゴ利用ガイドライン
        %a.logo
          =fa_icon 'twitter', class: 'icon'
        %a.logo
          =fa_icon 'facebook-square', class: 'icon'
    .top_area
      %h2.style_headline
        ヘルプ＆ガイド
      %ul.content
        %li.list
          メルカリガイド
        %li.list
          らくらくメルカリ便
        %li.list
          ゆうゆうメルカリ便
        %li.list
          大型メルカリ便
        %li.list
          車体取引ガイド
        %li.list
          メルカリあんしん・あんぜん宣言！
        %li.list
          偽ブランド品撲滅への取り組み
        %li.list
          メルカリボックス
    .middle_area
      %h2.style_headline
        プライバシーと利用規約
      .contents
        %ul.content
          %li.list
            プライバシーポリシー
          %li.list
            メルカリ利用規約
          %li.list
            あんしんスマホサポート制度に関する利用規約
          %li.list
            コンプライアンスポリシー
      .contents
        %ul.content
          %li.list
            個人データの安全管理に係る基本方針
          %li.list
            特定商取引に関する表記
          %li.list
            資金決済法に基づく表示
          %li.list
            法令順守と犯罪防止のために
    .end_area
      %h2.style_headline
        国
      %ul.country_content
        %li.countries
          %a.country
            日本
          %a.country
            United States
  .footer__container__logo
    %a.mercari_logo
      = image_tag 'mercari_white.png',size:'124x33', class: 'mercari_logo'
    %span.mercari_moji
      © 2019 Mercari