.main-contents-container__frame
  = link_to "items/#{item.id}" do
    .main-contents-container__frame__box
      -if item.buyer_id.present? #雉野追記,購入した商品にSOLD表示する 7行目まで
        .item-box_photo__sold
          .item-box_photo__sold__inner
            SOLD
      .main-contents-container__frame__box__item
        - if item.images.attached?
          - item.images.each do |image|
            = image_tag image ,size: '188x188'
        .main-contents-container__frame__box__item__image-price
          ¥
          =item.price
      .main-contents-container__frame__box__exp
        .main-contents-container__frame__box__exp__write 
          =item.trade_name
