.main-contents-container__frame
  = link_to "items/#{item.id}" do
    .main-contents-container__frame__box
      -if item.buyer_id.present? #雉野追記,購入した商品にSOLD表示する 7行目まで
        .item-box_photo__sold
          .item-box_photo__sold__inner
            SOLD
      .main-contents-container__frame__box__item
        -# - if item.image.attached?
        -#   = image_tag item.image ,size: '188x188'
        .main-contents-container__frame__box__item__image-price
          = price_jpy(item.price)
      .main-contents-container__frame__box__exp
        .main-contents-container__frame__box__exp__write 
          =item.trade_name

-# - if item.image.attached?
-#   - item.image.last(1).each do |image|
-#     = image_tag image ,size: '188x188'
