.main-contents-container
  .main-contents-container__frame
    .main-contents-container__frame__box
      .main-contents-container__frame__box__item
        .main-contents-container__frame__box__item__image-price
      .main-contents-container__frame__box__exp
        .main-contents-container__frame__box__exp__write