.main-contents-container
  .main-contents-container-name
    新着商品
  - @item.each do |i|
    .main-contents-container__frame
      .main-contents-container__frame__box
        .main-contents-container__frame__box__item
          - i.photos.each do |photo|
            %img{:src => "#{photo.url}",class: 'main-contents-container__frame__box__item__DBphoto'}
          .main-contents-container__frame__box__item__image-price
            ¥
            =i.price
        .main-contents-container__frame__box__exp
          .main-contents-container__frame__box__exp__write 
            =i.trade_name