.wrapper
  .main-header
    .main-header-box
      .main-header-top
        .main-header__top__icon
        = image_tag "merikari4.png", size:'134x36',class: "my_merukari"
        .main-header__top__form
      .main-header-under
        .main-header__under__left
          .main-header__under__left__category
          .main-header__under__left__brand
        .main-header__under__right
          .main-header__under__right__good
            .main-header__under__right__notice      
            .main-header__under__right__todo
            .main-header__under__right__mypage
