#image-box-1
  .item-num-0#image-box__container
    = f.fields_for :images do |i|
      .input-area
        = i.file_field :image, type: 'file', name: "item[images_attributes][][image_url]", value:"", style: "display:none", id:"img-file"
        %label{for: "img-file"}
          %i.fas.fa-camera