.member-registration-wrapper {
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}
  .member-registration-header {
    width: 1372px;
    height: 128px;
    text-align: center;
    margin: auto;
    position: relative;
    .registration-merukari-logo {
      display: inline-block;
      .my_merukari {
        margin: {
        top: 40px;
        right: 550px;
        }
        display: inline-block;
      }
    }
    .member-registration-progress {
      display: inline-block;
      width: 552px;
      height: 38px;
      list-style: none;
      position: absolute;
      top: 40px;
      right: 300px;

      li {
        display: inline-block;
      }
      li:nth-of-type(5)  {
        margin-right: 0px;
      }

      .progress {
        color: #888;
        font-size: 12px;
        margin-right: 40px;
        position: relative;
        .progress-parts {
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #ccc;
          margin: auto;
          margin-top: 3px;
        }

        .progress-parts_5 {
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #ccc;
          margin: auto;
          margin-top: 3px;
        }
        &::before {
          content:'';
          border: {
            width: 2px 0px 0px 0px;
            style: solid;
            color: #ccc;
          }
          display: block;
          width: 120%;
          line-height: 2px;
          position: absolute;
          right: 50%;
          bottom: 5px;
        }
        .progress-parts::before {
          content:'';
          border: {
            width: 2px 0px 0px 0px; 
            style: solid;
            color: #ccc;
          }
          display: block;
          width: 100%;
          line-height: 2px;
          position: absolute;
          right: 50%;
          bottom: 5px;
        }
        .progress-parts::after {
          content:'';
          border: {
            width: 2px 0px 0px 0px;
            style: solid;
            color: #ccc;
          }
          display: block;
          width: 100%;
          line-height: 2px;
          position: absolute;
          left: 50%;
          bottom: 5px;
        }
      }
      .progress-here {
        color: #ea352d;
        font-size: 12px;
        margin-right: 40px;
        position: relative;
        z-index: 3;
        .progress-parts_1 {
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #ea352d;
          margin: auto;
          margin-top: 3px;          
        }
        &::after {
          content:'';
          border-width: 2px 0px 0px 0px;
          border-style: solid;
          border-color: #ccc;
          display: block;
          width: 100%;
          line-height: 3px;
          position: absolute;
          left: 50%;
          bottom: 5px;
          z-index: -1;
        }
      }
    }
  }
  .member-registration-menu {
    width: 700px;
    height: 1600px;
    text-align: center;
    margin: auto;
    background-color: white;
    &__top {
      box-sizing: border-box;
      height: 97px;
      padding: 32px;
      font-size: 22px;
      line-height: 1.5;
      font-weight: bold;
      border-bottom: solid 0.1px #f2f2f2; 
    }
    &__form {
      box-sizing: border-box;
      width: 700px;
      height: 1500px;
      padding: 40px 40px 64px;
      .form-menu {
        height: 1600px;
        max-width: 343px;
        margin: auto;
      }
          .label-1 {
            font-size: 13px;
            font-weight: 600;
            float: left;
          }
          .span-1 {
            font-size: 12px;
            border: solid 2px #ea352d;
            background-color: #ea352d;
            border-radius: 2px;
            color: white;
            float: left;
            margin-left: 5px;
            line-height: 14px;
            width: 30px;
          }
          .input-registration-form {
            box-sizing: border-box;
            width: 100%;
            margin: 8px 0 0;
            border-radius: 5px;
            border: solid 1px #ccc;
            height: 48px;
            padding: 10px 16px 8px;
          }

        .member-mail {
          margin: 24px 0px 0px;
        }
        .member-password {
          margin: 24px 0px 0px;
        }
        .re-member-password {
          margin: 24px 0px 0px;
        }
        .registration-identification {
          margin: 24px 0px 0px;
          h3 {
            font-size: 16px;
            font-weight: 600;
            text-align: left;
          }
          p {
            font-size: 14px;
            text-align: left;
            line-height: 1.5;
            color: #333;
          }
        }
        .identification-name-kanji {
          margin: 24px 0px 0px;
          position: relative;
          height: 85px;
          box-sizing: border-box;
          div {
            box-sizing: border-box;
            height: 14px;
          }
            .input-kanji-myouji {
              box-sizing: border-box;
              margin: 5px 0 0;
              border-radius: 5px;
              border: solid 1px #ccc;
              height: 48px;
              width: 165px;
              position: absolute;
              top: 20px;
              left: 0px;
              padding: 10px 16px 8px;
            }
            .input-kanji-name {
              box-sizing: border-box;
              margin: 5px 0 0;
              border-radius: 5px;
              border: solid 1px #ccc;
              height: 48px;
              width: 165px;
              position: absolute;
              top: 20px;
              right: 0px;
              padding: 10px 16px 8px;
            }
              .error-messages_kanji {
                box-sizing: border-box;
                height: 30px;
                width: 100%;
                position: absolute;
                top: 75px;
              }
        }
        .identification-name-kana {
          margin: 24px 0px 0px;
          position: relative;
          height: 75px;
          box-sizing: border-box;
          div {
            box-sizing: border-box;
            height: 14px;
          }            
            .input-kana-myouji {
              box-sizing: border-box;
              margin: 5px 0 0;
              border-radius: 5px;
              border: solid 1px #ccc;
              height: 48px;
              width: 165px;
              position: absolute;
              top: 20px;
              left: 0px;
              padding: 10px 16px 8px;
            }
            .input-kana-name {
              box-sizing: border-box;
              margin: 5px 0 0;
              border-radius: 5px;
              border: solid 1px #ccc;
              height: 48px;
              width: 165px;
              position: absolute;
              top: 20px;
              right: 0px;
              padding: 10px 16px 8px;
            }
              .error-messages-kana {
                box-sizing: border-box;
                width: 100%;
                height: 50px;
              }
          }
        .identification-birthday {
          margin: 30px 0px 0px;
          height: 80px;
          box-sizing: border-box;
          .birth_select_form {
            position: relative;
            .select-default_year {
              position: absolute;
              left: 0px;
              top: 20px;
            }
            .span_year::before {
              content: '';
              width: 6px;
              height: 6px;
              border: 0px;
              border-bottom: solid 2px #b4b3b3;
              border-right: solid 2px #b4b3b3;
              -ms-transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              position: absolute;
              top: 50%;
              left: -25px;
              margin-top: -4px;
            }
            .span_year {
              position: absolute;
              left: 83px;
              top: 38px;
            }
            .select-default_month {
              position: absolute;
              left: 110px;
              top: 20px;
            }
            .span_month::before {
              content: '';
              width: 6px;
              height: 6px;
              border: 0px;
              border-bottom: solid 2px #b4b3b3;
              border-right: solid 2px #b4b3b3;
              -ms-transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              position: absolute;
              top: 50%;
              left: -25px;
              margin-top: -4px;
            }
            .span_month {
              position: absolute;
              left: 190px;
              top: 38px;
            }
            .select-default_day {
              position: absolute;
              right: 50px;
              top: 20px;
            }
            .span_day::before {
              content: '';
              width: 6px;
              height: 6px;
              border: 0px;
              border-bottom: solid 2px #b4b3b3;
              border-right: solid 2px #b4b3b3;
              -ms-transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              position: absolute;
              top: 50%;
              left: -25px;
              margin-top: -4px;
            }
            .span_day {
              position: absolute;
              right: 25px;
              top: 38px;
            }
            select {
              margin-top: 5px;
              width: 76px;
              height: 48px;
              background-color: transparent;
              border-color: #ccc;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              padding: 0 10px;
              position: relative;
            }
            select::-ms-expand {
              display: none;
            }
            .error-messages_birth {
              position: absolute;
              top: 80px;
            }
          }
          }

        .identification-comments {
          margin-top: 50px;
          color: #888;
          line-height: 1.5;
          font-size: 14px;
          text-align: left;
        }
      .no-robot {
        box-sizing: border-box;
        margin:auto;
        margin-top: 30px;
        padding-right: 10px;
        width: 304px;
        height: 78px;
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        border-radius: 3px;
        position: relative;
        &-check {
          transform: scale(2.0);
          position: absolute;
          top: 30px;
          left: 20px;       
        }
        a {
          display: inline-block;
          height: 50px;
          width: 160px;
          font-size: 15px;
          text-align: left;
          position: absolute;
          top: 15px;
          left: 50px;
        }
      
        .logo_recaptcha {
          position: absolute;
          top: 10px;
          right: 20px;
        }
        .no-robot-text {
          list-style: none;
          font-size: 10px;
          color: #333;
          text-align: right;
          position: absolute;
          right: 10px;
          bottom: 5px;       
        }
      }
        .consent-text {
          font-size: 14px;
          color: #333;
          width: 343px;
          height: 42px;
          margin: 30px 0px auto;
        }
          .consent-link {
            color: #0099e8;
            text-decoration: none;
            transition: color 0.3s;
          }
          a:hover {
            color: #b3d4fc;
            text-decoration: underline;
          }

        .button-next-page {
          border: solid 1px #ea352d;
          background-color: #ea352d;
          line-height: 48px;
          width: 343px;
          color: white;
          font-size: 14px;
          margin: auto;
          margin-top: 32px;
        }
        .personal-information-page-jump {
          box-sizing: border-box;
          width: 343px;
          font-size: 14px;
          text-align: right;
          color: #0099e8;
          margin: auto;
          margin-top: 32px;
          .yajirusi-next-page::before {
            content: '>';
            font: {
              family: 'icon-font';
              style: normal;
              weight: 600;
              variant: normal;
            }
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
          }
        }          
      }   
  }