.member-new-address-wrapper {
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}

  .member-new-address-header {
    width: 1372px;
    height: 128px;
    text-align: center;
    margin: auto;
    position: relative;
    .sms-confirmation-merukari-logo {
      display: inline-block;
      .confirmation_merukari {
        margin-top: 40px;
        margin-right: 550px;
        display: inline-block;
      }
    }
    
    .member-new-address-progress {
      display: inline-block;
      width: 552px;
      height: 38px;
      list-style: none;
      position: absolute;
      top: 40px;
      right: 300px;

      li {
        display: inline-block;
      }
      li:nth-of-type(5)  {
        margin-right: 0px;
      }

      .progress {
        color: #888;
        font-size: 12px;
        margin-right: 40px;
        position: relative;
        .progress-parts {
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #ccc;
          margin: auto;
          margin-top: 3px;
        }

        .progress-parts_1 {
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #ea352d;
          margin: auto;
          margin-top: 3px;
        }
        .progress-parts_1::after {
          content:'';
          border-width: 2px 0px 0px 0px;
          border-style: solid;
          border-color: #ea352d;
          display: block;
          width: 100%;
          line-height: 3px;
          position: absolute;
          left: 50%;
          bottom: 5px;
        }

        .progress-parts_complete {
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #ea352d;
          margin: auto;
          margin-top: 3px;
        }
        .progress-parts_complete::before {
          content:'';
          border-width: 2px 0px 0px 0px;
          border-style: solid;
          border-color: #ea352d;
          display: block;
          width: 100%;
          line-height: 2px;
          position: absolute;
          right: 50%;
          bottom: 5px;
        }
        .progress-parts_complete::after {
          content:'';
          border-width: 2px 0px 0px 0px;
          border-style: solid;
          border-color: #ea352d;
          display: block;
          width: 100%;
          line-height: 2px;
          position: absolute;
          left: 50%;
          bottom: 5px;
        }

        .progress-parts_5 {
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #ccc;
          margin: auto;
          margin-top: 3px;
        }
        .progress-parts_5::before {
          content:'';
          border-width: 2px 0px 0px 0px;
          border-style: solid;
          border-color: #ccc;
          display: block;
          width: 120%;
          line-height: 2px;
          position: absolute;
          right: 50%;
          bottom: 5px;
        }

        .progress-parts::before {
          content:'';
          border-width: 2px 0px 0px 0px;
          border-style: solid;
          border-color: #ccc;
          display: block;
          width: 100%;
          line-height: 2px;
          position: absolute;
          right: 50%;
          bottom: 5px;
        }
        .progress-parts::after {
          content:'';
          border-width: 2px 0px 0px 0px;
          border-style: solid;
          border-color: #ccc;
          display: block;
          width: 100%;
          line-height: 2px;
          position: absolute;
          left: 50%;
          bottom: 5px;
        }
      }

      .progress-here {
        color: #ea352d;
        font-size: 12px;
        margin-right: 40px;
        position: relative;
        z-index: 3;
        .progress-parts_here {
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #ea352d;
          margin: auto;
          margin-top: 3px;         
        }
        .progress-parts_here::before {
          content:'';
          border-width: 2px 0px 0px 0px;
          border-style: solid;
          border-color: #ea352d;
          display: block;
          width: 100%;
          line-height: 2px;
          position: absolute;
          right: 50%;
          bottom: 5px;
          z-index: -1;
        }
        .progress-parts_here::after {
          content:'';
          border-width: 2px 0px 0px 0px;
          border-style: solid;
          border-color: #ccc;
          display: block;
          width: 100%;
          line-height: 2px;
          position: absolute;
          left: 50%;
          bottom: 5px;
          z-index: -1;
        }
      }
    }
  }
  .member-new-address-menu {
    height: 1500px;
    width: 100%;
    &__contents {
      height: 1400px;
      width: 700px;
      background-color: white;
      margin: 0 auto;
      text-align: center;
    }
    &__top {
      box-sizing: border-box;
      height: 95px;
      padding: 32px;
      background-color: white;
      font-size: 22px;
      font-weight: bold;
      border-bottom: solid 1px #f2f2f2;
    }
    &__main {
      box-sizing: border-box;
      height: calc(1400px - 95px);
      padding: 40px 40px 64px;
    }
      &__input-field {
        max-width: 343px;
        margin: 0 auto;

        .member-new-name-kana {
          margin: 24px 0px 0px;
        }
        .member-new-postal-code {
          margin: 24px 0px 0px;
        }
        .member-new-municipal-district {
          margin: 24px 0px 0px;
        }
        .member-new-banchi {
          margin: 24px 0px 0px;
        }
        .member-new-building-name {
          margin: 24px 0px 0px;
        }
        .member-new-telephone-number {
          margin: 24px 0px 0px;
        }

          .label-1 {
            font-size: 13px;
            font-weight: 600;
            float: left;
          }
          .span-1 {
            font-size: 12px;
            border: solid 2px #ea352d;
            background-color: #ea352d;
            border-radius: 2px;
            color: white;
            float: left;
            margin-left: 5px;
            line-height: 14px;
            width: 30px;
          }
          .span-2 {
            font-size: 12px;
            border: solid 2px #c0c0c0;
            background-color: #c0c0c0;
            border-radius: 2px;
            color: white;
            float: left;
            margin-left: 5px;
            line-height: 14px;
            width: 30px;
          }
          .input-registration-form {
            box-sizing: border-box;
            width: 100%;
            margin: 8px 0 0;
            border-radius: 5px;
            border: solid 1px #ccc;
            height: 48px;
            padding: 10px 16px 8px;
          }

        .member-new-prefectures {
          margin: 24px 0px 0px;
          display: inline-block;
          width: 100%;
          position: relative;
        }
        .member-new-prefectures::after {
          content: '';
          width: 10px;
          height: 10px;
          border: 0px;
          border-bottom: solid 2px #888;
          border-right: solid 2px #888;
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          position: absolute;
          top: 45px;
          right: 20px;         
        }

          select {
            width: 100%;
            height: 48px;
            background-color: transparent;
            border-color: #ccc;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 10px 16px 8px;
            margin-top: 8px;
          }
          select::-ms-expand {
            display: none;
        }
      }
               
        .button-next-page {
          border: solid 1px #ea352d;
          background-color: #ea352d;
          line-height: 48px;
          width: 343px;
          color: white;
          font-size: 14px;
          margin: auto;
          margin-top: 40px;
        } 
  }