.banner {
  background-image: url("banner.png");
  background-size: 1440px 260px;
  margin-top: auto;
  display: block;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  box-sizing: border-box;
  &__container {
    display: flex;
    justify-content: space-between;
    width: 750px;
    height: 100%;
    margin: 0px auto;
    color: white;
    &--left {
      width: 420px;
      .first_title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 2px;
        margin-top: 40px;
      }
      .second_title {
        font-size: 35px;
        margin-bottom: 20px;
      }
      .icons {
        box-sizing: border-box;
        display: flex;
        .mercari_icon {
          width: 68px;
          height: 68px;
          margin-right: 20px;
          background-image: url('');
          vertical-align: middle;
        }
        .app {
          width: 144px;
          height: 40px;
          margin-right: 8px;
          background-image: url('');
          vertical-align: middle;
          display: inline-block;
        }
        .google {
          width: 144px;
          height: 40px;
          background-image: url('');
          vertical-align: middle;
          display: inline-block;
        }
      }
    }
    &--right {
      display: block;
      .image {
        width: 300px;
        height: 260px;
        background-image: url('');
      }
    }
  }
}