.main-contents-container{
  padding-top: 42px;
  max-width: 1050px;
  height: 100%;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  .main-contents-container-name{
    font-weight: bold;
    display: inline-block;
    width: 1024px;
    font-size: 23px;
    padding-left: 10px;
  }
  &__frame{
    height: 272px;
    width: 208px;
    box-sizing: border-box;
    &__box{
      box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 8px;
      height: 252px;
      width: 188px;
      background-color: white;
      margin: auto;
      margin-top: 10px;
      -webkit-box-align: center;
      align-items: center;
      &__item{
        height: 188px;
        width: 188px;
        position: relative;
        z-index: 1;
        &__DBphoto{
          height: 188px;
          width: 188px;;
        }
        &__image-price{
          height: 28px;
          background: rgba(0,0,0,.4);
          border-radius: 0 14px 14px 0;
          bottom: 8px;
          color: #fff;
          display: inline-flex;
          font-size: 17px;
          position: absolute;
          left: 0.1px;
          z-index: 2;
          padding: 0 12px;
          margin: 0;
          font-size: 17px;
        }
      }
      &__exp{
        height: 64px;
        width: 188px;
        line-height: 1.4em;
        font-size: 14px;
        color: #222;
        word-break: break-word;
        white-space: normal;
        &__write{
          height: 39.19px;
          width: 164px;
          margin: auto;
          margin-top: 12px;
          margin-left: 12px;
          position: absolute;
          overflow: hidden;
        }
      }
    }
  }
}
