.wrapper {
  height: 100%;
  width: 100%;
  background-color: #EEEEEE;
}

.menu {
  height: 456px;
  width: 731px;
  background-color: white;
  margin: auto;
  text-align: center;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  
  .sign-up__btn {
    p {
      color: #333;
      font-size: 13px;
    }
    .sign-up__link {
      text-decoration: none;
      


    }
  


  }

}