.wrapper-logout
  .header-logout
    = render 'items/main-header'
  .pankuzu-logout
  .main-container-logout
    .main-container-logout__right
      .main-container-logout__right__logout
        ログアウト
    .main-container-logout__left
  .banner
    = render 'items/banner'
  .footer-logout
    = render 'items/footer'