.member-sms-wrapper
  .member-sms-confirmation-header
    .sms-confirmation-merukari-logo
      = image_tag "merikari4.png", size:'185x49',class: "confirmation_merukari"
    .member-sms-confirmation-progress
      %li.progress
        会員情報
        .progress-parts_1
      %li.progress-here
        電話番号認証
        .progress-parts_here
      %li.progress
        お届け先住所入力
        .progress-parts
      %li.progress
        支払い方法
        .progress-parts
      %li.progress
        完了
        .progress-parts_5
  .member-mobile-number-menu
    .member-mobile-number-menu__contents
      .member-mobile-number-menu__top
        電話番号認証
      .member-mobile-number-menu__first
        .member-mobile-number-menu__main
          .member-mobile-number-menu__form
            %label 認証番号
            %input.input-sms-mobile-number{:name => "number", :placeholder => "認証番号を入力", :type => "number", :value => ""}/
            %p SMSで届いた認証番号を入力してください
          .form-input-complete-button
            認証して完了
        .not-sms-number
          .not-sms-number__text
            %label 30秒たっても認証番号が届かない方へ
            %p.to-call 電話で認証番号を聞くこともできます。
          .not-sms-number__button
            電話で認証番号を聞く（通話無料）
        .one-more-mobile-number
          .one-more-mobile-number__text
            %label 認証番号を再送することもできます。もう一度電話番号を入力して下さい。
          %a.input-number-link 電話番号を再度入力する
          %p.consent-message 
            ※SMSが届かない場合は
            %a.consent-link{:href => "https://www.mercari.com/jp/"}> SMS受信設定
            を確認して、もう一度電話番号を入力してください。

  = render "devise/registrations/footer-signup" 






